ul.social-network li {
    display: inline;
    margin: 0 5px;
  }  
  .icon{
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #ffff; 
    border-radius: 50%;
    outline: 2px solid black;
    transition-property: 
    outline-offset, outline-color,
    backgroud-color;
    transition-duration: .25s;

  }
  .icon:hover{
    outline-offset: 4px;
  }
  .icon:hover i{
    animation: shake .25s;
  }
  .icon{
    background-image: radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%,
    #fd5949 45%, #d6249f 60%,
    #285aeb 90%);
    outline-color: #a02d76;
  }
  .i-whatsapp{
    background-image: radial-gradient(circle at 30% 107%,
    #25D366 0%, #25D366 5%,
    #25D366 45%, #25D366 60%,
    #25D366 90%);
    outline-color: #ffff;
  }
  .i-facebook{
    background-image: radial-gradient(circle at 30% 107%,
    #3b5998 0%, #3b5998 5%,
    #3b5998 45%, #3b5998 60%,
    #3b5998 90%);
    outline-color: #3b5998;
  } 
  a{
    color: #fff;
  }

  @keyframes shake {
    10%{transform: rotate(15deg);}
    10%{transform: rotate(-15deg);}
    10%{transform: rotate(15deg);}
    10%{transform: rotate(-15deg);}
  }