
    <ul class="social-network">
      <li>
        <a class="icon" href="https://instagram.com/aldeiacozinhabar?igshid=YmMyMTA2M2Y=" data-placement="top" title="instagram"><i
            class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a class="icon i-whatsapp" href="https://api.whatsapp.com/send?phone=5561996619767" data-placement="top"
          title="whatsapp"><i class="fa fa-whatsapp"></i></a>
      </li>
      <li>
        <a class="icon i-facebook" href=""
          data-placement="top" title="facebook"><i class="fa fa-facebook"></i></a>
      </li>
    </ul>
  

