
    <ul class="social-network">
      <li>
        <a class="icon" href="https://api.instagram.com/euquiasaraujo85" data-placement="top" title="instagram"><i
            class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a class="icon i-whatsapp" href="https://api.whatsapp.com/send?phone=5561991631462" data-placement="top"
          title="whatsapp"><i class="fa fa-whatsapp"></i></a>
      </li>
      <li>
        <a class="icon i-facebook" href="https://www.linkedin.com/in/euquias-araujo-326271219"
          data-placement="top" title="facebook"><i class="fa fa-facebook"></i></a>
      </li>
    </ul>
  

