<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img class="img-fluid  rounded-circle" width="1000" src='' alt='Logo'>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex" role="search">
          <div class="col-lg-6">
            <ul class="social-network">
              <li>
                <a href="https://api.instagram.com/euquiasaraujo85" data-placement="top" title="instagram"><i
                    class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="https://api.whatsapp.com/send?phone=5561991631462" data-placement="top" title="whatsapp"><i
                    class="fa fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/euquias-araujo-326271219" data-placement="top"
                  title="Linkedin"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="https://github.com/euquias" data-placement="top" title="Linkedin"><i
                    class="fa fa-github"></i></a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>
  </div>
  <div class="container">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container">
  <div class="d-flex justify-content-start">
    <ul class="social-network">
        <li><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-placement="top" title="instagram"><i
                    class="fa fa-clock-o"></i>Horários</a>
        </li>
        <li><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" data-placement="top" title="whatsapp"><i
                    class="fa fa-credit-card-alt"></i>Pagamentos</a>
        </li>
        <li><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" data-placement="top" title="Linkedin"><i
                    class="fa fa-map-marker"></i>Locais de entrega</a>
        </li>
    </ul>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Horário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Domingo: 17:30 as 22:30</p>
                <p>Segunda-Feira: 17:30 as 22:00</p>
                <p>Terça-Feira: 17:30 as 22:00</p>
                <p>Quarta-Feira: 17:30 as 22:00</p>
                <p>Quinta-Feira: 17:30 as 22:00</p>
                <p>Sexta-Feira: 17:30 as 22:30</p>
                <p>Sábado: 17:30 as 22:30</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Pagamentos aceito na entrega</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>   
            </div>
            <div class="modal-body">
                <a  >
                </a>
                <i class="fa fa-money " aria-hidden="true">
                    <p>Dinheiro</p>
                </i>
                <i class="fa fa-credit-card-alt">
                    <p>Débito</p>
                </i>
                <i class="fa fa-credit-card-alt">
                    <p>crédito</p>
                </i>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title local" id="staticBackdropLabel">Em frente ao balão do Mesquita, Cidade Ocidental</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4559.14791170064!2d-47.85730143841108!3d-16.077361856333905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93598fef2e56df1d%3A0x8cb22bcf04053c43!2sPizzaria%20A%20Favoritta!5e0!3m2!1spt-BR!2sbr!4v1664563088233!5m2!1spt-BR!2sbr"
                    width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p>
                        Local de Entrega:<br>
                        Mesquita<br>
                        Jardim Edite<br>
                        Jardim Abc
                    </p>
            </div>
        </div>
    </div>
</div>

<ng-template #thenblock>
    <p></p>
    <p>pix:<br>CPF: 05554768121
        <a >
          
          
        </a>
    </p>
</ng-template>
<ng-template #elseblock>
    <p class="copiado">Copiado com sucesso
        <i class="fa fa-check-square-o" aria-hidden="true">
        </i>
    </p>
</ng-template>
</div>