<div class="container">
    <nav id="navbar-example2">
        <ul class="nav navbar bg-light px-1 mb-1">
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">
                    <button type="button" class="btn btn-danger">Petiscos</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">
                    <button type="button" class="btn btn-danger">Drinks</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3">
                    <button type="button" class="btn btn-danger">Pratos</button>
                </a>
            </li>
        </ul>
    </nav>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
        <h4 id="scrollspyHeading1">
            <p>Petiscos</p>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/capa.png" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Porção de carne</strong></h3>
                    <p>Composto por: carne de sol, batata frita,<br> azeitona, limão, tomate, cebola</p>
                    <p class="card-text d-flex justify-content-evenly">R$:90,00</p>
                </div>
            </div>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/capa2.jpeg" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:00,00</p>
                </div>
            </div>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/capa4.jpeg" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:00,00</p>
                </div>
            </div>
        </h4>
        <h4 id="scrollspyHeading2">
            <p>Drinks</p>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/amstel-600.png" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:12,00</p>
                </div>
            </div>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/bodywaser.png" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:12,00</p>
                </div>
            </div>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/heinekenl.jpg" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:00,00</p>
                </div>
            </div>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/capa10.jfif" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:15,00</p>
                </div>
            </div>
        </h4>

        <h4 id="scrollspyHeading3">
            <p>Pratos</p>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/capa7.jfif" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:00,00</p>
                </div>
            </div>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/capa8.jfif" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:00,00</p>
                </div>
            </div>
            <div class="card d-flex flex-row mb-3">
                <div class="foto m-1">
                    <img src="../../../../assets/capa9.jfif" alt="...">
                </div>
                <div>
                    <h3 class="card-title"><strong>Titulo</strong></h3>
                    <p>valor</p>
                    <p class="card-text d-flex justify-content-evenly">R$:00,00</p>
                </div>
            </div>
        </h4>
    </div>
</div>